<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" size="large"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="reorder" size="large"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="advertisers">
      <ion-icon name="people" size="large"></ion-icon>
      <ion-label>Advertisers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="heart-empty" size="large"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
