<ion-slides [options]="slideOpts" scrollbar="true">
    <ion-slide>
        <ion-card class="category-card">
            <ion-img src="/assets/categories/house.jpg"></ion-img>
            <ion-card-header class="ion-no-padding">
                <ion-card-subtitle>Houses</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card class="category-card">
            <ion-img src="/assets/categories/apartment.jpg"></ion-img>
            <ion-card-header class="ion-no-padding">
                <ion-card-subtitle>Apartments</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card class="category-card">
            <ion-img src="/assets/categories/office.jpg"></ion-img>
            <ion-card-header class="ion-no-padding">
                <ion-card-subtitle>Offices</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card class="category-card">
            <ion-img src="/assets/categories/commerce.jpg"></ion-img>
            <ion-card-header class="ion-no-padding">
                <ion-card-subtitle>Commerce</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card class="category-card">
            <ion-img src="/assets/categories/room.jpg"></ion-img>
            <ion-card-header class="ion-no-padding">
                <ion-card-subtitle>Rooms</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card class="category-card">
            <ion-img src="/assets/categories/land.jpg"></ion-img>
            <ion-card-header class="ion-no-padding">
                <ion-card-subtitle>Lands</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-slide>
</ion-slides>
