<ion-text>{{title}}</ion-text>
<ion-row align-items-start>
    <ion-col size="6" size-sm>
        <ion-card class="ion-no-margin">
            <ion-img src="/assets/salon.jpg"></ion-img>
            <ion-card-header>
                <ion-card-title>Title here</ion-card-title>
                <ion-card-subtitle>SubTitle here...</ion-card-subtitle>
            </ion-card-header>
            <ion-icon [name]="advertSavedClass" size="large" class="advert-saved-btn" color="warning" (click)="toggleSave()"></ion-icon>
        </ion-card>
    </ion-col>
    <ion-col size="6" size-sm>
        <ion-card class="ion-no-margin">
            <ion-img src="/assets/salon.jpg"></ion-img>
            <ion-card-header>
                <ion-card-title>Title here</ion-card-title>
                <ion-card-subtitle>SubTitle here...</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-col>
    <ion-col size="6" size-sm>
        <ion-card class="ion-no-margin">
            <ion-img src="/assets/salon.jpg"></ion-img>
            <ion-card-header>
                <ion-card-title>Title here</ion-card-title>
                <ion-card-subtitle>SubTitle here...</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-col>
    <ion-col size="6" size-sm>
        <ion-card class="ion-no-margin">
            <ion-img src="/assets/salon.jpg"></ion-img>
            <ion-card-header>
                <ion-card-title>Title here</ion-card-title>
                <ion-card-subtitle>SubTitle here...</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-col>
</ion-row>
